@import "https://fonts.googleapis.com/css?ff7607family=Source+Sans+Pro|Poppins:600,700|Work+Sans:600&amp;display=swap";

-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #fcb900;
}
::selection {
  background-color: #fcb900;
  color: #fff;
}
-webkit-::selection {
  background-color: #fcb900;
  color: #fff;
}
::-moz-selection {
  background-color: #fcb900;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #263a4f;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5 {
  color: #fff;
}
.bg-dark p,
.bg-dark span {
  color: #999;
}
h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  margin: 0 0 10px;
  color: #263a4f;
}
h2 {
  font-size: 25px;
  line-height: 42px;
  color: #263a4f;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: -1px;
}
h3,
h4 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.7;
  color: #263a4f;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5,
h6 {
  font-size: 14px;
  margin: 0 0 10px;
}

p,
li,
a,
span {
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ddd !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ddd !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ddd !important;
}
button {
  border: none;
  background: 0 0;
}
.padding {
  padding: 50px 0;
}
.padding-sp{
  padding: 100px 0px 0px;
}
.no-padding {
  padding: 0;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.box-padding {
  padding: 0 50px;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #f9fafa;
}
.bg-dark {
  background-color: #242323 !important;
}
.bd-top {
  border-top: 1px solid #e5e5e5;
}
.bd-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.fz-28 {
  font-size: 28px;
}
.fz-24 {
  font-size: 24px;
}
.fz-22 {
  font-size: 22px;
}
.fz-20 {
  font-size: 20px;
}
.fz-18 {
  font-size: 18px;
}
.fz-16 {
  font-size: 16px;
}
.text-black {
  color: #333;
}
.text-white {
  color: #fff;
}
.box-shadow,
.box-shadow-hover:hover {
  -webkit-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  -moz-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
}
.loaded .site-preloader-wrap {
  opacity: 0;
  visibility: hidden;
}
.site-preloader-wrap {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
}
.site-preloader-wrap .spinner {
  background-color: #fcb900;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.default-btn {
  background-color: #fcb900;
  text-transform: uppercase;
  font-family: work sans, sans-serif;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  line-height: 45px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 30px;
  -webkit-box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
  box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
}
.default-btn:hover {
  background-color: #232427;
  color: #fff;
}
.section-heading h2 {
  font-size: 32px;
  display: block;
}


a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: block;
}


.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 99;
}
.sticky-header .primary-header {
  background-color: #fff;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}
.sticky-header.headroom--top {
  transform: translateY(-100%);
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0);
}
/* */
.mobile-menu-icon {
  display: none;
}


@media (min-width: 993px) {
  .header-menu-wrap li ul {
    display: block !important;
  }
}
@media (max-width: 992px) {
  .headroom--top .header-menu-wrap,
  .headroom--unpinned .header-menu-wrap {
    display: none !important;
  }
  .dropdown-plus {
    width: 49px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .dropdown-plus:before,
  .dropdown-plus:after {
    position: absolute;
    content: "";
    top: 24px;
    right: 18px;
    width: 13px;
    height: 1px;
    background-color: #222;
  }
  .dropdown-plus:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .dropdown-plus.dropdown-open:after {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .header-menu-wrap {
    display: none;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
  }
  .header-menu-wrap ul li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
  }
  .header-menu-wrap ul li > a {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
  }
  .header-menu-wrap ul li ul li ul,
  .header-menu-wrap ul li ul {
    background-color: transparent;
    width: 100%;
    opacity: 1;
    padding: 0;
    visibility: visible;
    position: inherit;
    display: none;
    top: inherit;
    left: inherit;
    box-shadow: none;
  }
  .header-menu-wrap li li {
    padding-left: 11px;
  }
  .header-menu-wrap li li:last-child {
    border-bottom: none;
  }
  .header-menu-wrap li li > a {
    color: #263a4f;
    font-size: 13px;
  }
  .header-menu-wrap li li:hover > a {
    color: #666;
  }
}
@media (max-width: 580px) {
  .header-right a.menu-btn {
    line-height: 40px;
    font-size: 10px;
    padding: 0 25px;
  }
  .primary-header .header-logo {
    max-width: 150px;
  }
}
.primary-header-inner .header-right {
  display: flex;
  align-items: center;
  line-height: 80px;
  margin-left: 20px;
}
.header-right .mobile-menu-icon {
  margin-left: 20px;
}
.header-right a.menu-btn {
  background-color: #fcb900;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header-right a.menu-btn:hover {
  background-color: #fcb900;
  opacity: 0.8;
  color: #fff;
}
.primary-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.primary-header .header-logo {
  max-width: 180px;
}
.viewport-lg .primary-header .header-menu-wrap {
  display: block !important;
}
.about-section {
}
.about-wrap {
  display: flex;
  align-items: center;
}
.about-content {
}
.about-content h2 {
  margin-bottom: 20px;
}
.about-content p {
  margin-bottom: 30px;
}
.about-promo {
  padding-left: 80px;
}
.about-promo .about-promo-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: -55px !important;
}
/* .about-promo .about-promo-item:last-child {
  margin-bottom: 0;
} */
.about-promo .about-promo-item i {
  font-size: 50px !important;
  color: #fcb900;
  margin-right: 30px;
}
.about-promo .about-promo-item div{
  margin-left: 20px;
}
.service-section {
  position: relative;
  z-index: 1;
}
.service-section .dark-bg {
  position: absolute;
  background-color: #232427;
  width: 100%;
  height: 350px;
  left: 0;
  top: 0;
  z-index: -2;
  padding-top: 80px;
}
.service-section:before {
  background-image: url(../img/map-pattern.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.section-heading.dark-background h2 {
  color: #fff;
}
.section-heading.dark-background span {
  color: #ddd;
}
.service-item {
  background-color: #fff;
  padding: 40px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-in-out;
  text-align: center;
  position: relative;
  z-index: 1;
}
.service-item .service-icon {
  color: #fcb900;
  font-size: 60px;
  margin-bottom: 10px;
}
.service-item .overlay-icon {
  position: absolute;
  left: 50%;
  bottom: 50%;
  font-size: 130px;
  color: #fcb900;
  opacity: 0.09;
  transform: translate(-50%, 50%);
  z-index: -1;
}
.service-item h3 {
  font-size: 18px;
}
.service-item .read-more {
  font-family: work sans, sans-serif;
  color: #263a4f;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.service-item .read-more:hover {
  opacity: 0.8;
}
.service-item:hover {
  background-color: #fcb900;
  transition: all 0.2s ease-in-out;
}
.service-item:hover h3,
.service-item:hover .service-icon,
.service-item:hover .overlay-icon,
.service-item:hover p,
.service-item:hover .read-more {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.service-content span {
  font-family: work sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
}
.service-content h2 {
  margin-bottom: 20px;
}
.service-content p {
  margin-bottom: 30px;
}
.services-list .offset-top {
  transform: translateY(30px);
}
.services-list .service-item {
  text-align: left;
}
.services-list .service-item i {
  font-size: 50px;
  color: #fcb900;
  margin-bottom: 10px;
  display: block;
}
.services-list .service-item:hover i {
  color: #fff;
}
.services-list .service-item h3 {
  margin: 0 0 5px;
  font-weight: 500;
}
.services-list .service-item p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}
.promo-section {
}
.promo-wrap {
}
.promo-item {
  padding: 30px 15px;
}
/* .promo-item h3 {
  font-size: 18px;
  margin: 0 0 5px;
} */
.promo-item i {
  display: block;
  font-size: 50px;
  color: #fcb900;
  margin-bottom: 10px;
}
.promo-item p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0;
}




.projects-content {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  padding: 30px;
  z-index: 1;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  transition: all 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.project-item:hover .view-icon {
  cursor: pointer;
  right: 20px;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.counter-content .counter {
  font-family: work sans, sans-serif;
  color: #fcb900;
  font-size: 48px;
  line-height: 1;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0 0 10px;
}

.service-section.section-2 .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../images/bg-dots.png) 0 0 repeat;
  z-index: -1;
}
.sp{
  color: #f9bd0d;
}